<!DOCTYPE html>
<html>
<head>
	<title>sup</title>
</head>
<body>
<form method="post" action="/">
        <!-- Heading -->
       <center> <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email Address</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
        </center>
    </form>

<h4>If you have not created an account click the Sign Up Button bellow </h4>
   <a href="/signup"><button >Sign Up</button></a>
    <br>

</body>
</html>